#centralarea{
  background-color:  #b1eef3;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 20px;
  padding-bottom: 20px;
  box-shadow: 7px 7px 6px 3px black;
}

#centralarea h1{
  text-align: center;
  color: green;

}
.lat-left{
  background-color: #ccffcc;
  background-image: url("../../assets/fondoperro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 7px 7px 6px 3px black;

}
.lat-rigth{
  background-color: #ffccff;
  background-image: url("../../assets/fondoperro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 7px 7px 6px 3px black;
}
