<h1>
  Dogs and User panel
</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 intro">
      <b>Info: </b>A personal exercise of data exchange between angular components in front-end, and back-end and DB, responsive.
        Use of google API for angular 2 maps. Load and delete of image files. In the header with pull-down menu redirects to signup and user login and to dog management,
        made in the right part of the central zone, Snoopy logo reload page. In the central left hand side, a map is shown that allows to mark the position of the registered dogs,
        the logged user and to mark the route between this and the last adopted dog. In the lower part, dogs sent to a nursery are shown,
        which a user can "adopt".
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
         <div class="lat-left">
         <app-googlemap></app-googlemap>
         </div>

    </div>
    <div class="col-md-6">
        <div class="lat-rigth">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>
