h1{
  text-align: center;
  color: green;
  border-top: 2px solid red;
}
.lat-left{
  background-color: #ccffcc;
  background-image: url("../../assets/fondoperro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.lat-rigth{
  background-color: #ffccff;
  background-image: url("../../assets/fondoperro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro{
  font-size: 10px;
  border: 1px solid #FE2E64;
  margin-bottom: 5px;
  background-color: #F8ECE0;
}
