h1{
  text-align: center;
  color: green;
  border-top: 2px solid red;
}
.lat-left{
  background-color: #ccffcc;
  background-image: url("http://localhost:3000/public/images/fondoperro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.lat-rigth{
  background-color: #ffccff;
  background-image: url("http://localhost:3000/public/images/fondoperro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
