h3{
  color:ANTIQUEWHITE;
}

h5{
  color:ANTIQUEWHITE;
  border-top: 2px solid red;
}

.form-group{
  width: 80%;
}

.form-group label{
  color: ANTIQUEWHITE;
  font-family: serif;
  font-variant: small-caps;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
}

form{
  display: block;
  align-content:flex-end;
}

img{
  width: 100px;
  height: auto;
}

.advert{
  font-size: 20px;
  font-weight:inherit;
  color: #f1f135;
  text-align: center;
  background-color: rgba(110, 110, 50, 0.5)
}

.dog-info{
  color: antiquewhite;
  font-size: 1.2rem;
  width: 90%;
}

.error{
  color: darkred;
  font-size: 1.2rem;
  width: 90%;
}
