
<h3>{{ title }}</h3>

<div class="buttons">
  <div class="text">
  You can look in map where are the dogs, where are logged user, and position between
  logged user and last dog adopted
  </div>

  <button (click)="mapAllDogs()">Map dogs</button>
  <button (click)="mapLogedUser()">Map user</button>
  <button (click)="trazeRoute()">Show rute adoption</button>
</div>

<agm-map  id="map" [latitude]="lat" [longitude]="lng">

  <div *ngFor="let dog of dogs" >
    <agm-marker [label]="A"
                [latitude]="dog.latitude"
                [longitude]="dog.longitude">
    </agm-marker>
  </div>

  <div *ngIf="logUser">
    <agm-marker [latitude]="logUser.latitude"
                [longitude]="logUser.longitude"
                [iconUrl]="userMarker.icon"
                [openInfoWindow]=true >
    </agm-marker>
  </div>

  <div *ngIf="originUser">
    <agm-circle
        [latitude]="originUser.lat"
        [longitude]="originUser.lng"
        [radius]=50000
      >
    </agm-circle>
  </div>

  <div *ngIf="destinationDog">
    <agm-circle
        [latitude]="destinationDog.lat"
        [longitude]="destinationDog.lng"
        [radius]=50000
      >
    </agm-circle>

    <agm-polyline [geodesic]=true>
            <agm-polyline-point
                            [latitude]="originUser.lat"
                            [longitude]="originUser.lng"
              >
             </agm-polyline-point>
             <agm-polyline-point
                             [latitude]="destinationDog.lat"
                             [longitude]="destinationDog.lng"
              >
            </agm-polyline-point>
    </agm-polyline>
</div>


</agm-map>
