
<div class="container signup-area">
  <h3>
    Fill in your user details here
  </h3>
  <div class="row">
    <div class="col-sm-12 centered-form">

      <form  *ngIf="!user" (ngSubmit)="signup()" #signupForm="ngForm">

        <div class="form-group">
          <label for="username"> username </label>
          <input
            type="text"
            id="username"
            class="form-control"
            [(ngModel)]="formInfo.username" name="username"
            #username = "ngModel"
            required>
          <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="password"> password </label>
          <input
            type="password"
            id="password"
            class="form-control"
            [(ngModel)]="formInfo.password" name="password"
            #password = "ngModel"
            required>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
          </div>
        </div>

        <div class="form-group">
          <label for="email"> email </label>
          <input
            type="text"
            id="email"
            class="form-control"
            [(ngModel)]="formInfo.email" name="email"
            #email = "ngModel"
            required>
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Mail is required
          </div>
        </div>

        <div class="form-group">
          <label for="address"> address </label>
          <input
            type="textarea"
            id="address"
            class="form-control"
            [(ngModel)]="formInfo.address" name="address"
            #address = "ngModel"
            required>
          <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
            Address is required
          </div>
        </div>

        <div class="form-group">
          <label for="location">Location</label>
          <input
            type="text"
            id="location"
            class="form-control"
            placeholder="search for location"
            autocorrect="off" autocapitalize="off" spellcheck="off"
            #search
            [formControl]="searchControl"
            required>
          <div [hidden]="searchControl.valid || searchControl.pristine" class="alert alert-danger">
            Location is required
          </div>
        </div>

        <div class="buttons-area">
          <button type="submit" name="button"> Signup </button>
        </div>
      </form>

      <div *ngIf="user" class="text-general">
        <h2> You are now logged in as {{ user.username }}!! </h2>
        <p> Here's the user object </p>
        <pre> {{ user | json }} </pre>
        <button (click)="logout()"> logout </button>
        <button (click)="getPrivateData()">private data </button>
      </div>
      <div *ngIf="privateData">
        <p > Private Data </p>
        <pre> {{ privateData.email }} </pre>
        <pre>Address: {{ privateData.address }} </pre>
      </div>
        <p class="error"> {{ error }} </p>
    </div>
  </div>
</div>
