.list{
  background-color: #bae3f3;
  width: auto;
  height: auto;
}

.dogList{
  display: inline-block;
  display: contents;
  background-color: #b1eef3;
  margin: 5px;
  padding: 10px;
  border: 3px solid black;

}

.note{
  font-size: 20px;
  font-weight:inherit;
  color: #f2f235;
  text-align: center;
  background-color: rgba(110, 110, 50, 0.5)
}
