<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="kgarten">
        <h2>
          Dogs kgarten
        </h2>
        <h5>Here are the dogs sent to care</h5>

        <button (click)="updateKgarten()">Update Kgarten</button>
        <div class="note">{{message}}</div>

        <div id="list">
          <div *ngFor="let pet of pets" id="dogList">
            <app-kgartenchield (messageEmitter)="newMessage($event)" [pet]="pet"></app-kgartenchield>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
