nav{
  border:2px solid black;
  box-shadow: 7px 7px 6px 3px black;
}
.navbar-brand{
  font-style: oblique;
  font-weight: bold;
  text-transform: full-width;


}

img{
  height: 50px;
  width: auto;
  border-radius: 25px;
  border: 1px solid grey;

}
