
<div class="dogList1">

<h5 *ngIf="this.user" >Hello, {{this.user.username}}</h5>
<h3> Dogs list </h3>

<button (click)="getListMyDogs()"> view my dogs </button>
<button (click)="getListAllDogs()"> view all dogs </button>
<br>
<p class="newdog" [routerLink]="['../newDog']">Add a new Dog</p>

<div *ngIf="this.user; else elseBlock" >
    <div *ngFor="let dog of dogs"  class="dogList2">

          <h5>
                <app-childdog [dog]="dog">
                </app-childdog>
          </h5>

          <h3> Dog name: {{ dog.dogName }}&nbsp;</h3>

          <img [src]='dog.imgUrl' />
          <p> Breed: {{ dog.breed }} </p>
          <p> Years old: {{ dog.age }} </p>
          <p> Description {{dog.description}} </p>
          <p> Pos lat: {{dog.latitude}}</p>
          <p> Pos long: {{dog.longitude}}</p>

      <h6 *ngIf="this.user._id==dog.user_id">
        <button (click)="sendDogKgarten(this.dog._id,this.user._id)"> Send {{dog.dogName}} to Kgarten </button>
        <button (click)="deleteDog(this.dog._id)">Delete dog</button>
      </h6>
    </div>
  </div>
  <ng-template #elseBlock >
    <div class="advert" >You must be logged to see list of dogs</div>
  </ng-template>

  </div>
