h3{
  color:ANTIQUEWHITE;
}

h5{
  color:ANTIQUEWHITE;
}

span{
  color:ANTIQUEWHITE;
  font-size: 14px;
}

.newdog{
  color: black;
  background-color: #c3bebe;
  height: auto;
  width: 160px;
  margin: 10px;
  padding: 0px 5px;
  border: 4px groove grey;
}

.dogList1{
  width: 400px;
  padding: 10px;
}

.dogList2{
  margin-left: 10px;
  border: 2px solid #f2cbcb;
  border-radius: 2px;
  margin-top:10px;
  padding-left: 5px;
  background-color: hsla(178, 62%, 21%, 0.36);
  box-shadow: 4px 4px 4px 4px #f2cbcb;
}

.dogList2 p{
  color: ANTIQUEWHITE;
  font-family:sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
}

img{
  width: 100%;
  height: auto;
}

.advert{
  font-size: 20px;
  font-weight:inherit;
  color: #f1f135;
  text-align: center;
  margin-left: 40px;
  background-color: rgba(110, 110, 50, 0.5)
}
